<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>News</display-name>


    <!-- App使用的Servlet 开始 -->
    <servlet>
        <servlet-name>UserClientServlet</servlet-name>
        <servlet-class>com.xieyan.news.servlet.app.UserClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserClientServlet</servlet-name>
        <url-pattern>/userclient</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewsServlet</servlet-name>
        <servlet-class>com.xieyan.news.servlet.app.NewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewsServlet</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>
    <!-- App使用的Servlet 结束 -->

    <!-- 后台管理servlet start-->
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.xieyan.news.servlet.admin.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewsEditServlet</servlet-name>
        <servlet-class>com.xieyan.news.servlet.admin.NewsEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewsEditServlet</servlet-name>
        <url-pattern>/newsedit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.xieyan.news.servlet.admin.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadImageServlet</servlet-name>
        <servlet-class>com.xieyan.news.servlet.admin.UploadImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadImageServlet</servlet-name>
        <url-pattern>/uploadimage</url-pattern>
    </servlet-mapping>
    <!-- 后台管理servlet end-->

    <!--验证码servlet 开始-->
    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>com.xieyan.news.utils.vcode.servlet.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/verifycode</url-pattern>
    </servlet-mapping>
    <!--验证码servlet 结束-->

    <!-- 过滤中文乱码的问题 -->
    <filter>
        <filter-name>EncodeFilter</filter-name>
        <filter-class>com.xieyan.news.utils.EncodeFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>news/jsp/news-list.jsp</welcome-file>
    </welcome-file-list>
</web-app>