@charset "utf-8";
/* CSS Document */
.chatMain {
    width: 1000px;
    height: auto;
    margin: auto;
    border: #dddddd 1px solid;
}

.chatMain ul {
    height: 40px;
}

.ulSet li {
    line-height: 40px;
    text-align: center;
    list-style: none;
    float: left;
    height: auto;
    border: #dddddd 1px solid;
}

.li1 {
    width: 70px;
}

.li2 {
    width: 120px;
}

.li3 {
    width: 500px;
}

.inputMain {
    width: 900px;
    height: auto;
    min-height: 50px;
    margin: auto;
    border: #dddddd 1px solid;
}

.inputMain1 {
    width: 900px;
    height: auto;
    min-height: 50px;
    margin: auto;
}

.inputText {
    border: #dddddd 1px solid;
    height: auto;
    width: 898px;
}

.submitButton {
    margin-top: 5px;
    width: 90px;
    height: 30px;
}